#content-page {
  padding: 4vw 0;
}
#content-page .hide {
  display: none;
}
#content-page #Apartments, #content-page #likes-section {
  margin: 0 10vw;
}
#content-page #Apartments h2, #content-page #likes-section h2 {
  font-size: 48px;
  padding-bottom: 25px;
}
#content-page #Apartments #apartment-list, #content-page #Apartments #liked-list, #content-page #likes-section #apartment-list, #content-page #likes-section #liked-list {
  gap: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#content-page #Apartments #apartment-list li, #content-page #Apartments #liked-list li, #content-page #likes-section #apartment-list li, #content-page #likes-section #liked-list li {
  width: 288px;
  height: 360px;
  overflow: hidden;
  background: #CEF9FF;
}
#content-page #Apartments #apartment-list li img, #content-page #Apartments #liked-list li img, #content-page #likes-section #apartment-list li img, #content-page #likes-section #liked-list li img {
  height: 286px;
}
#content-page #Apartments #apartment-list li .nav, #content-page #Apartments #liked-list li .nav, #content-page #likes-section #apartment-list li .nav, #content-page #likes-section #liked-list li .nav {
  height: 72px;
  display: grid;
  padding: 23px;
  grid-template-columns: 1fr 1fr;
}
#content-page #Apartments #apartment-list li .nav a, #content-page #Apartments #liked-list li .nav a, #content-page #likes-section #apartment-list li .nav a, #content-page #likes-section #liked-list li .nav a {
  height: 26px;
  font-size: 14px;
  margin: 4px 0px 4px 80px;
}
#content-page #Apartments #apartment-list li .nav button, #content-page #Apartments #liked-list li .nav button, #content-page #likes-section #apartment-list li .nav button, #content-page #likes-section #liked-list li .nav button {
  padding: 0;
  width: 26px;
  height: 26px;
}
#content-page #Apartments #apartment-list li .nav button img[alt="Favorit Icon"], #content-page #Apartments #liked-list li .nav button img[alt="Favorit Icon"], #content-page #likes-section #apartment-list li .nav button img[alt="Favorit Icon"], #content-page #likes-section #liked-list li .nav button img[alt="Favorit Icon"] {
  width: 20px;
  height: 20px;
}
#content-page #product {
  width: 100%;
  display: grid;
  min-height: 832px;
  grid-template-columns: 1fr 1fr;
}
#content-page #product .product-image {
  width: 712px;
  height: 832px;
  display: inherit;
  overflow: hidden;
}
#content-page #product .product-image img {
  height: 100%;
  grid-area: 1/1;
}
#content-page #product .product-image figcaption {
  grid-area: 1/1;
  width: inherit;
}
#content-page #product .product-image figcaption button {
  padding: 0;
  height: 32px;
  width: 117px;
  font-size: 16px;
  margin-top: 2%;
  margin-left: 80%;
  font-weight: bold;
}
#content-page #product .product-image figcaption button img {
  width: 32px;
  height: 32px;
  transform: translateY(30%);
}
#content-page #product .product-info {
  display: flex;
  padding: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#content-page #product .product-info h2, #content-page #product .product-info h3, #content-page #product .product-info h4, #content-page #product .product-info p {
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 35px;
}
#content-page #product .product-info h3 {
  font-size: 20px;
  text-transform: uppercase;
}
#content-page #product .product-info h2 {
  font-size: 32px;
  text-align: center;
}
#content-page #product .product-info h4 {
  font-size: 20px;
  font-weight: bold;
}
#content-page #product .product-info ul, #content-page #product .product-info h4 {
  margin: 0;
  width: 100%;
  list-style-type: disc;
}
#content-page #product .product-info #facilities li {
  width: -moz-fit-content;
  width: fit-content;
  transform: translateX(15px);
}
#content-page #product .product-info #facilities li p {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#content-page #product .product-info p:nth-of-type(1), #content-page #product .product-info p:nth-of-type(2) {
  height: 40px;
  width: 369px;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
}
#content-page #product .product-info p:nth-of-type(2) {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: left;
}