// MAIN CONTENT STYLING CSS

#content-page {
	padding: 120px;

	.hide {
		display: none;
	}

	
	#Apartments {
		h2 {
			font-size: 48px;
			padding-bottom: 25px;
		}

		#apartment-list {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			li {
				width: 288px;
				height: 360px;
				overflow: hidden;
				background: #CEF9FF;

				img {
					height: 286px;
				}

				.nav {
					height: 72px;
					display: grid;
					padding: 23px;
					grid-template-columns: 1fr 1fr;

					a {
						height: 26px;
						font-size: 14px;
						padding: 4px 0px 4px 80px;
					}

					button {
						padding: 0;
						width: 26px;
						height: 26px;
					}
				}
			}
		}
	}

	#product {
	}
}