// MAIN CONTENT STYLING CSS

#content-page {
	padding: 4vw 0;

	.hide {
		display: none;
	}

	
	#Apartments, #likes-section {
		margin: 0 10vw;

		h2 {
			font-size: 48px;
			padding-bottom: 25px;
		}

		#apartment-list, #liked-list {
			gap: 20px;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			li {
				width: 288px;
				height: 360px;
				overflow: hidden;
				background: #CEF9FF;

				img {
					height: 286px;
				}

				.nav {
					height: 72px;
					display: grid;
					padding: 23px;
					grid-template-columns: 1fr 1fr;

					a {
						height: 26px;
						font-size: 14px;
						margin: 4px 0px 4px 80px;
					}

					button {
						padding: 0;
						width: 26px;
						height: 26px;

						img[alt="Favorit Icon"] {
							width: 20px;
							height: 20px;
						}
					}
				}
			}
		}
	}

	#product {
		width: 100%;
		display: grid;
		min-height: 832px;
		grid-template-columns: 1fr 1fr;

		.product-image {
			width: 712px;
			height: 832px;
			display: inherit;
			overflow: hidden;

			img {
				height: 100%;
				grid-area: 1/1;
			}

			figcaption {
				grid-area: 1/1;
				width: inherit;

				button {
					padding: 0;
					height: 32px;
					width: 117px;
					font-size: 16px;
					margin-top: 2%;
					margin-left: 80%;
					font-weight: bold;

					img {
						width: 32px;
						height: 32px;
						transform: translateY(30%);
					}
				}
			}
		}

		.product-info {
			display: flex;
			padding: 80px;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			h2,h3,h4,p {
				font-weight: 500;
				width: fit-content;
				margin-bottom: 35px;
			}

			h3 {
				font-size: 20px;
				text-transform: uppercase;
			}

			h2 {
				font-size: 32px;
				text-align: center;
			}

			h4 {
				font-size: 20px;
				font-weight: bold;
			}

			ul, h4 {
				margin: 0;
				width: 100%;
				list-style-type: disc;
			}

			#facilities li {
				width: fit-content;
				transform: translateX(15px);

				p {
					margin: 0;
					width: fit-content;
					height: fit-content;
				}
			}

			p:nth-of-type(1), p:nth-of-type(2) {
				height: 40px;
				width: 369px;
				font-size: 16px;
				text-align: center;
				font-weight: normal;
			}

			p:nth-of-type(2) {
				width: 100%;
				height: fit-content;
				text-align: left;
			}
		}
	}
}